In [304]:
import os
DATA_PATH = os.path.join(os.getcwd(),"data","insurance.csv")

In [305]:
import pandas as pd

df = pd.read_csv(DATA_PATH)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Knowing about our dataset

In [306]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [307]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [308]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [309]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [310]:
print(df['sex'].nunique())
print(df['sex'].unique())

2
['female' 'male']

In [311]:
df.nunique()

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

# Performing EDA

In [312]:
df['sex'] = df['sex'].map({
    "female" : 0,
    "male" : 1,
})
df

      age  sex     bmi  children smoker     region      charges
0      19    0  27.900         0    yes  southwest  16884.92400
1      18    1  33.770         1     no  southeast   1725.55230
2      28    1  33.000         3     no  southeast   4449.46200
3      33    1  22.705         0     no  northwest  21984.47061
4      32    1  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    1  30.970         3     no  northwest  10600.54830
1334   18    0  31.920         0     no  northeast   2205.98080
1335   18    0  36.850         0     no  southeast   1629.83350
1336   21    0  25.800         0     no  southwest   2007.94500
1337   61    0  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [313]:
df['smoker'] = df['smoker'].map({
    "yes" : 1,
    "no" : 0
})
df

      age  sex     bmi  children  smoker     region      charges
0      19    0  27.900         0       1  southwest  16884.92400
1      18    1  33.770         1       0  southeast   1725.55230
2      28    1  33.000         3       0  southeast   4449.46200
3      33    1  22.705         0       0  northwest  21984.47061
4      32    1  28.880         0       0  northwest   3866.85520
...   ...  ...     ...       ...     ...        ...          ...
1333   50    1  30.970         3       0  northwest  10600.54830
1334   18    0  31.920         0       0  northeast   2205.98080
1335   18    0  36.850         0       0  southeast   1629.83350
1336   21    0  25.800         0       0  southwest   2007.94500
1337   61    0  29.070         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
df.rename(columns={"smoker":"is_smoker","sex":"is_male"},inplace=True)

      age  is_male     bmi  children  is_smoker     region      charges
0      19        0  27.900         0          1  southwest  16884.92400
1      18        1  33.770         1          0  southeast   1725.55230
2      28        1  33.000         3          0  southeast   4449.46200
3      33        1  22.705         0          0  northwest  21984.47061
4      32        1  28.880         0          0  northwest   3866.85520
...   ...      ...     ...       ...        ...        ...          ...
1333   50        1  30.970         3          0  northwest  10600.54830
1334   18        0  31.920         0          0  northeast   2205.98080
1335   18        0  36.850         0          0  southeast   1629.83350
1336   21        0  25.800         0          0  southwest   2007.94500
1337   61        0  29.070         0          1  northwest  29141.36030

[1338 rows x 7 columns]

In [315]:
from sklearn.preprocessing import OneHotEncoder

df = pd.get_dummies(df,drop_first=True)
df

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,False,False,True
1,18,1,33.770,1,0,1725.55230,False,True,False
2,28,1,33.000,3,0,4449.46200,False,True,False
3,33,1,22.705,0,0,21984.47061,True,False,False
4,32,1,28.880,0,0,3866.85520,True,False,False
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,10600.54830,True,False,False
1334,18,0,31.920,0,0,2205.98080,False,False,False
1335,18,0,36.850,0,0,1629.83350,False,True,False
1336,21,0,25.800,0,0,2007.94500,False,False,True
1337,61,0,29.070,0,1,29141.36030,True,False,False

In [316]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()
df['age'] = scale.fit_transform(df[['age']])
df

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest
0,-1.438764,0,27.900,0,1,16884.92400,False,False,True
1,-1.509965,1,33.770,1,0,1725.55230,False,True,False
2,-0.797954,1,33.000,3,0,4449.46200,False,True,False
3,-0.441948,1,22.705,0,0,21984.47061,True,False,False
4,-0.513149,1,28.880,0,0,3866.85520,True,False,False
...,...,...,...,...,...,...,...,...,...
1333,0.768473,1,30.970,3,0,10600.54830,True,False,False
1334,-1.509965,0,31.920,0,0,2205.98080,False,False,False
1335,-1.509965,0,36.850,0,0,1629.83350,False,True,False
1336,-1.296362,0,25.800,0,0,2007.94500,False,False,True
1337,1.551686,0,29.070,0,1,29141.36030,True,False,False

In [317]:
df['bmi'] = scale.fit_transform(df[["bmi"]])
df

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest
0,-1.438764,0,-0.453320,0,1,16884.92400,False,False,True
1,-1.509965,1,0.509621,1,0,1725.55230,False,True,False
2,-0.797954,1,0.383307,3,0,4449.46200,False,True,False
3,-0.441948,1,-1.305531,0,0,21984.47061,True,False,False
4,-0.513149,1,-0.292556,0,0,3866.85520,True,False,False
...,...,...,...,...,...,...,...,...,...
1333,0.768473,1,0.050297,3,0,10600.54830,True,False,False
1334,-1.509965,0,0.206139,0,0,2205.98080,False,False,False
1335,-1.509965,0,1.014878,0,0,1629.83350,False,True,False
1336,-1.296362,0,-0.797813,0,0,2007.94500,False,False,True
1337,1.551686,0,-0.261388,0,1,29141.36030,True,False,False

In [318]:
cols = ["region_northwest","region_southeast","region_southwest"]

for col in cols:
    df[col] = df[col].map({
        False : 0,
        True : 1
    })

df

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest
0,-1.438764,0,-0.453320,0,1,16884.92400,0,0,1
1,-1.509965,1,0.509621,1,0,1725.55230,0,1,0
2,-0.797954,1,0.383307,3,0,4449.46200,0,1,0
3,-0.441948,1,-1.305531,0,0,21984.47061,1,0,0
4,-0.513149,1,-0.292556,0,0,3866.85520,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,0.768473,1,0.050297,3,0,10600.54830,1,0,0
1334,-1.509965,0,0.206139,0,0,2205.98080,0,0,0
1335,-1.509965,0,1.014878,0,0,1629.83350,0,1,0
1336,-1.296362,0,-0.797813,0,0,2007.94500,0,0,1
1337,1.551686,0,-0.261388,0,1,29141.36030,1,0,0

# co-relation

In [319]:
cols = ['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northwest', 'region_southeast', 'region_southwest']
df_corr: pd.DataFrame
for col in cols:
    df_corr = abs((df.corr()[col]*100).round(2))

df_corr.sort_values(ascending=False)

region_southwest    100.00
region_southeast     34.63
region_northwest     32.08
charges               4.32
smoker                3.69
children              2.19
age                   1.00
bmi                   0.62
sex                   0.42
Name: region_southwest, dtype: float64

# Model Training

## Linear regression

In [320]:
x = df.drop("charges",axis=1)
y = df["charges"]

In [321]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.2)

In [322]:
X_train = scale.fit_transform(X_train)
X_test = scale.fit_transform(X_test)

In [323]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [324]:
li_pred = model.predict(X_test)

## Random forest

In [325]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=100, random_state=42)

random_forest_model = regressor.fit(X_train, y_train)
randomforest_y_pred = regressor.predict(X_test)

# Model evaluation

In [326]:
from sklearn.metrics import mean_absolute_error,mean_absolute_error,r2_score,root_mean_squared_error

mae = mean_absolute_error(y_test,li_pred)
mbe = mean_absolute_error(y_test,li_pred)
r2 = r2_score(y_test,li_pred)
rmse = root_mean_squared_error(y_test,li_pred)

print("linear regression MSE : ",mae)
print("linear regression MBE : ",mbe)
print("linear regression R2 : ",r2)
print("linear regression RMSE : ",rmse,"\n")

mae = mean_absolute_error(y_test,randomforest_y_pred)
mbe = mean_absolute_error(y_test,randomforest_y_pred)
r2 = r2_score(y_test,randomforest_y_pred)
rmse = root_mean_squared_error(y_test,randomforest_y_pred)

print("Random forest MSE : ",mae)
print("Random forest MBE : ",mbe)
print("Random forest R2 : ",r2)
print("Random forest RMSE : ",rmse)

linear regression MSE :  4185.9969914286585
linear regression MBE :  4185.9969914286585
linear regression R2 :  0.7833974353361579
linear regression RMSE :  5798.902775691822

Random forest MSE :  2766.1409499118786
Random forest MBE :  2766.1409499118786
Random forest R2 :  0.8635080681877066
Random forest RMSE :  4603.281359282766

# Saving the model

In [329]:
import joblib

joblib.dump(random_forest_model,os.path.join(os.getcwd(),"model.pkl"))

['/home/linux/ayush/hackathon/Zonals/VidyaSetu-hackathon-utilities/projects/insurance charges prediction/model.pkl']

In [328]:
df

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest
0,-1.438764,0,-0.453320,0,1,16884.92400,0,0,1
1,-1.509965,1,0.509621,1,0,1725.55230,0,1,0
2,-0.797954,1,0.383307,3,0,4449.46200,0,1,0
3,-0.441948,1,-1.305531,0,0,21984.47061,1,0,0
4,-0.513149,1,-0.292556,0,0,3866.85520,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,0.768473,1,0.050297,3,0,10600.54830,1,0,0
1334,-1.509965,0,0.206139,0,0,2205.98080,0,0,0
1335,-1.509965,0,1.014878,0,0,1629.83350,0,1,0
1336,-1.296362,0,-0.797813,0,0,2007.94500,0,0,1
1337,1.551686,0,-0.261388,0,1,29141.36030,1,0,0